Repository Linny85/compliance-copilot: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/check-i18n.js, node tools/validate-locales.mjs, eslint --fix

Fix Supabase project_id to pmpnvdtkzvbledkvbtac
  supabase/config.toml
Due: none

chore: remove Lovable remnants and pin Supabase project id
  .env.example
  STRIPE_SETUP.md
  docs/edge-master-flow.md
  docs/i18n-test-pr-guide.md
  docs/master-password.md
  docs/qa-setup.md
  scripts/norrly-verify.sh
Due: none

Replace Lovable placeholder README with Compliance Copilot README
  README.md
Due: none

Remove .env from repo and ignore secret environment file
  .env
Due: none

chore: finalize branding and landing i18n
  index.html
  public/cc-favicon.svg
  public/favicon.ico
  public/locales/de/common.json
  public/locales/de/dashboard.json
  public/locales/de/landing.json
  public/locales/en/admin.json
  public/locales/en/common.json
  public/locales/en/dashboard.json
  public/locales/en/landing.json
  public/locales/sv/common.json
  public/locales/sv/dashboard.json
  public/locales/sv/landing.json
  src/pages/Landing.tsx
Due: node scripts/check-i18n.js, node tools/validate-locales.mjs, eslint --fix

feat: migrate Supabase AI client to shared gateway
  supabase/functions/_shared/aiClient.ts
  supabase/functions/_shared/audit.ts
  supabase/functions/_shared/crypto.ts
  supabase/functions/_shared/locale.ts
  supabase/functions/_shared/lovableClient.ts
  supabase/functions/_shared/openaiClient.ts
  supabase/functions/_shared/utils/audit.ts
  supabase/functions/_shared/utils/auth.ts
  supabase/functions/_shared/utils/security.ts
  supabase/functions/helpbot-chat/index.ts
  supabase/functions/helpbot-graph-extract/index.ts
  supabase/functions/helpbot-graph-query/index.ts
  supabase/functions/helpbot-health/index.ts
  supabase/functions/helpbot-ingest/index.ts
  supabase/functions/helpbot-memory-eval/index.ts
  supabase/functions/helpbot-query/index.ts
  supabase/functions/helpbot-summary/index.ts
  supabase/functions/verify-master-pass/index.ts
  supabase/functions/verify-master/index.ts
Due: none

chore: clean production frontend lint issues
  src/i18n/init.ts
  src/pages/ai/RegisterAISystem.tsx
  src/pages/audit/AuditTaskDetail.tsx
  src/pages/audit/AuditTasks.tsx
  src/pages/audit/NewAuditTask.tsx
  src/pages/privacy/DPIADetail.tsx
  src/pages/privacy/DPIAList.tsx
  src/state/AppModeProvider.tsx
  src/utils/i18nSafe.ts
  tailwind.config.ts
  tests/e2e/dashboard-tenant-banner.spec.ts
  vite.config.ts
Due: eslint --fix

chore: update tooling and dependencies
  .gitignore
  package-lock.json
  package.json
Due: none

docs: add TECH_STATUS_PHASE2 phase report
  TECH_STATUS_PHASE2.md
  docs/edge-qa-handbook.md
Due: none

chore(ci): slim down default workflows
  .github/workflows/e2e-master-password-nightly.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e.yml
  .github/workflows/edge-check.yml
  .github/workflows/guard-profiles.yml
  .github/workflows/i18n-check.yml
  .github/workflows/i18n-report.yml
  .github/workflows/i18n-sync-enhanced.yml
  .github/workflows/i18n-sync.yml
  .github/workflows/master-password-e2e.yml
  .github/workflows/pr-cors-validation.yml
  .github/workflows/pr-tests.yml
  .github/workflows/ui-layout.yml
  TECH_STATUS_PHASE2.md
Due: none

feat(branding): sidebar label -> 'Compliance Copilot' + add app.name locale keys (en,de,sv)
  public/locales/de/common.json
  public/locales/sv/common.json
  src/components/AppSidebar.tsx
Due: node scripts/check-i18n.js, node tools/validate-locales.mjs, eslint --fix

Path conditions:
  node scripts/check-i18n.js: any of: public/locales/**/*.json
  node tools/validate-locales.mjs: any of: public/locales/**/*.json
  eslint --fix: any of: src/**/*.{ts,tsx}
